<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>中铁快运</Name>
  <DisplayName>中铁快运</DisplayName>
  <BackGroundImage>2012618134741580.jpg</BackGroundImage>
  <Logo>logo.jpg</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>ZTKY</TaobaoCode>
  <Kuaidi100Code>zhongtiewuliu</Kuaidi100Code>
  <KuaidiNiaoCode>ZTKY</KuaidiNiaoCode>
</ExpressInfo>