@{
ViewBag.ShowAside = 2;//显示返回顶部按钮 
}
@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
<div class="container">
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}
<script src="~/Areas/Mobile/Templates/Default/Scripts/WeiXinShare.js"></script>
<link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">

            <div class="members_con" style="margin:0 auto">
                
                <section class="members_flash j-swipe" id="mySwipe">
                    <ul class="clearfix">
                        
                        
                        <li>
                            <a href="/m-weixin/bonus/index/33" title="发送到合肥是绿地福建省地离开房间苏打绿咖啡离开的福建省地离开">
                                
                                
                                <img src="http://localhost:32223/Storage/template/0/20170214/6362268806079786707415406.jpg" width="100%" />
                                
                                
                            </a>
                        </li>
                        
                        
                    </ul>
                    <section class="members_flash_time">
                        
                    </section>
                </section>
                
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="pic-nav">
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="../pointsShoppingCenter/pointsShoppingCenter"><div class="son"><img src="http://localhost:32223/Storage/template/0/20170214/6362268807630272873746736.jpg"></div></a></span>
                            <a class="members_nav1_name" href="../pointsShoppingCenter/pointsShoppingCenter">积分商城</a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="../grouplist/grouplist"><div class="son"><img src="http://localhost:32223/Storage/template/0/20170214/6362268807608788049046442.jpg"></div></a></span>
                            <a class="members_nav1_name" href="../grouplist/grouplist">拼团</a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="/m-wap/shopregister/step1"><div class="son"><img src="http://localhost:32223/Storage/template/0/20170214/6362268807567379488104344.jpg"></div></a></span>
                            <a class="members_nav1_name" href="/m-wap/shopregister/step1">商家入驻</a>
                        </li>
                        
                        
                        
                        <li class="lisw4">
                            <span><a class="goodsimg" href="../countdown/countdown"><div class="son"><img src="http://localhost:32223/Storage/template/0/20170214/6362268807544332531174804.jpg"></div></a></span>
                            <a class="members_nav1_name" href="../countdown/countdown">限时购列表</a>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="clearfix">
                        
                        
                        
                        <li class="board5 title_img">
                            <span>
                                <a href="../GroupBuyList.aspx">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276403974174747968218.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board5 big_img">
                            <span>
                                <a href="19774992670">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170214/6362268266135933826573054.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board5 mid_img">
                            <span>
                                <a href="/m-wap/topic/detail/117">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276409524192545885238.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board5 small_img">
                            <span>
                                <a href="/m-weixin/bonus/index/33">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276407161894801730226.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board5 small_img">
                            <span>
                                <a href="www.baidu.com">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276412994540643416342.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        
            <div class="members_con">
                <section class="members_nav1">
                    <ul class="clearfix">
                        
                        
                        
                        <li class="board9 title_img">
                            <span>
                                <a href="../pointsShoppingCenter/pointsShoppingCenter">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276394769231446523989.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 big1_img">
                            <span>
                                <a href="1">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276412884966127616699.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 big1_img">
                            <span>
                                <a href="qqq">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276409542552623127041.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 big1_img">
                            <span>
                                <a href="../grouplist/grouplist">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170214/6362268578510153508722421.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 big1_img">
                            <span>
                                <a href="../countdowndetail/countdowndetail?id=198">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170214/6362268578480658497279556.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 small2_img">
                            <span>
                                <a href="../countdown/countdown">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170214/6362268578397941192166115.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 small2_img">
                            <span>
                                <a href="../pointsShoppingCenter/pointsShoppingCenter">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362276403974174747968218.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 small2_img">
                            <span>
                                <a href="../countdown/countdown">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362275708814568002539866.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                        <li class="board9 small2_img">
                            <span>
                                <a href="../countdowndetail/countdowndetail?id=198">
                                    
                                    <img src="http://localhost:32223/Storage/template/0/20170215/6362275708901574153639215.jpg">
                                    
                                </a>
                            </span>
                        </li>
                        
                        
                        
                    </ul>
                </section>
            </div>
        @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>
<script src="~/Areas/Mobile/Templates/Default/Scripts/mui.min.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/AppAuto.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
 <script src="~/Scripts/swipe-template.js"></script>
<script src="~/Areas/Mobile/Templates/Default/Scripts/IndexShare.js"></script>
