<?xml version="1.0" encoding="utf-8" ?>
<ExpressInfo>
  <Name>百世汇通</Name>
  <DisplayName>百世汇通</DisplayName>
  <BackGroundImage>2017091211315.jpg</BackGroundImage>
  <Logo>logo.jpg</Logo>
  <Width>2300</Width>
  <Height>1270</Height>
  <TaobaoCode>HTKY</TaobaoCode>
  <Kuaidi100Code>huitongkuaidi</Kuaidi100Code>
  <KuaidiNiaoCode>HTKY</KuaidiNiaoCode>
</ExpressInfo>